body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

i {
    cursor: pointer;
}

.flex {
    display: flex;
}

#board {
    width: 1000px;
    height: 500px;
    border: 3em solid rgb(255, 32, 24);
    border-radius: 2em;
}
#board:hover {
    cursor: crosshair;
}

#grid-area {
    width: 100%;
    height: 100%;
    display: grid;
}

#settings {
    width: 200px;
    height: 350px;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#settings > section, aside {
    width: 35%;
    height: 10%;
    border: 2px solid;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer
}

#red {
    background-color: #FF0000;
}

#orange {
    background-color: #ff6600;
}

#yellow {
    background-color: #dfdf00;
}

#green {
    background-color: green;
}

#blue {
    background-color: #0000ff;
}

#indigo {
    background-color: #4b0082;
}

#purple {
    background-color: #800080;
}

#black {
    background-color: #000;
}

#brown {
    background-color: #884c29;
}

#random-color {
    background-color: #636363;
    font-size: 2em;
}

#clear, #white {
    width: 75%;
    border-radius: 10px;
    border-color: gray;
    color: #000 !important;
}
